.menu {
    @media only screen and (max-width: 600px) {
        padding-inline: 30px;
    }
    @media only screen and (max-width: 300px) {
        padding-inline: 20px;
    }
}

.menuLinks :global(.vtex-account_menu-link),
.menuLink {
    color: #7d7d7d;
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0;
    text-transform: uppercase;
    text-decoration: underline;
}

.menuLinks :global(.b--action-primary) {
    color: $color-gray;
}

.menuLinks :global(.flex) {
    div:nth-child(1) {
        order: 2;
    }
    div:nth-child(2) {
        order: 3;
    }
    div:nth-child(3) {
        order: 4;
    }
    div:nth-child(4) {
        order: 1;
    }
}

.userGreeting {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 124.68%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $secondary-color;
}

.userImage {
    margin-right: 8px;
}

.userName {
    color: $secondary-color;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.boxContainer {
    border: 1px solid c4c4c4;
    border-radius: 0;
}

.boxContainerFooter {
    background-color: $primary-color;
    max-height: 36px;
}

.boxContainerFooter :global(.vtex-button) {
    color: $color-white;
    margin-top: 2px;
    transition: ease-in 0.22s all;
}

.boxContainerFooter :global(.vtex-button):hover {
    background-color: darken($primary-color, 5%);
}

:global(.vtex-pageHeader__container) {
    padding-top: 1.3rem;
    padding-bottom: 0;
    padding-left: 1rem;

    @media (max-width: 300px) {
        padding-left: 0;
    }
}

:global(.vtex-pageHeader__title) {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    color: $color-gray2;
    margin-bottom: 16px;
}

:global(.vtex-pageHeader-link__container) {
    padding-bottom: 2rem;
}

:global(.vtex-pageHeader-link__container .vtex-button) {
    color: $secondary-color;
}

:global(.vtex-pageHeader-link__container .t-action--small) {
    font-size: 0;

    &:before {
        content: "voltar";
        font-size: 11px;
    }
}

.boxContainerBody {
    @include mq(md, max) {
        padding-left: 26px;
        padding-right: 26px;
    }
}

.boxContainerBody :global(.mb8) {
    margin-bottom: 30px;
}

.dataEntryLabel,
.newsletterContainerTitle,
.boxContainerBody :global(.vtex-input__label),
.boxContainerBody :global(.vtex-dropdown__label) {
    color: $color-gray2;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

:global(.bg-white) {
    -webkit-appearance: none;
}

.dataEntryChildren,
.newsletterContainerMessage {
    color: #848484;
    font-size: 13px;
    text-transform: uppercase;
}

.passwordBox {
    font-size: 14px;
    text-transform: uppercase;
}

[type="text"] {
    border-radius: 0;
    color: #979899;
    font-weight: 200;
    text-transform: uppercase;
}

.boxContainerBody :global(.vtex-button.bg-action-primary) {
    background: $primary-color;
    border: none;
}
:global(.vtex-pageHeader__children .vtex-button) {
    background: $primary-color;
    border: none;
}

.addressList :global(.t-heading-4),
:global(.vtex-account__page-body .t-heading-4) {
    color: $color-gray2;
    font-size: 20px;
    font-weight: bold;

    @media (max-width: 300px) {
        font-size: 15px;
    }
}

:global(.vtex-account__cards-list) {
    :global(.c-on-base) {
        font-size: 15px !important;
    }
}

@include mq(sm, max) {
    .addressBox {
        flex-direction: column;
        margin-top: 16px;
    }

    .profile :global(.flex-column-s.flex-row-ns) {
        flex-direction: column;
    }
}
:global(.vtex-profile-form-3-x-styleguideInput):nth-child(7)
    :global(.lh-title) {
    font-size: 0;
}
:global(.vtex-profile-form-3-x-styleguideInput):nth-child(7)
    :global(.lh-title)::after {
    content: "Data Inválida";
    font-size: 0.85rem;
}
:global(.vtex-profile-form-3-x-styleguideInput):nth-child(4)
    :global(.lh-title) {
    font-size: 0;
}
:global(.vtex-profile-form-3-x-styleguideInput):nth-child(4)
    :global(.lh-title)::after {
    content: "Número Inválido";
    font-size: 0.85rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--login-page) :global(.pa2) {
    position: absolute !important;
    /* left: 438px; */
    width: 43% !important;
    right: -204px !important;
    top: -56px !important;
    @media (max-width: 920px) {
        position: absolute !important;
        width: 240px !important;
        top: 180px !important;
        right: 0 !important;
        left: 0 !important;
    }
}
:global(.vtex-my-authentication-1-x-newPassInput_container)
    :global(.vtex-styleguide-9-x-input) {
    text-transform: none !important;
}
