@charset "UTF-8";
/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
/* Colors */
/* Grid breakpoints */
:global(.vtex-toast) {
  background: #26247b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
  opacity: 0.8;
}

:global(.vtex-toast-container) {
  display: none;
}

/* CATEGORIES SLIDER */
/* ---------------------------------------------------------------------------------------- */
.infoCardContainer--categories-home {
  flex-direction: column-reverse;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  padding: 20px 12px;
}

.infoCardImageContainer--categories-home,
.infoCardTextContainer--categories-home {
  text-align: center;
  width: 100%;
  padding: 0;
}

.infoCardHeadline--categories-home {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #727272;
  margin-top: 16px;
}

.infoCardCallActionContainer--categories-home {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
}
.infoCardCallActionContainer--categories-home :global(.vtex-button) {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #26247b;
  border-radius: 0;
  width: 100%;
  max-width: 160px;
  margin-top: 36px;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.infoCardCallActionContainer--categories-home :global(.vtex-button):hover {
  background-color: #26247b;
}
.infoCardCallActionContainer--categories-home :global(.vtex-button):hover :global(.vtex-button__label) {
  color: #fff;
}
.infoCardCallActionContainer--categories-home :global(.vtex-button__label) {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #26247b;
  padding: 16px !important;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
  .infoCardContainer--categories-home {
    display: flex;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  .infoCardHeadline--categories-home {
    margin-top: 8px;
  }
  .infoCardCallActionContainer--categories-home :global(.vtex-button) {
    margin-top: 16px;
  }
}
.productImagesThumb .thumbImg {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  max-height: 90px;
  width: auto;
  margin-left: auto;
}

.productImageTag {
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 4px;
}

.productNameContainer {
  margin-bottom: 8px;
}
.productNameContainer .productBrand {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #000;
}

.productBrand--m3-product {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #292929;
  background-color: goldenrod;
}

.skuSelectorName {
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d;
}

.skuSelectorName::after {
  content: ":";
}

.frameAround--m3-custom-sku-selector {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 2px solid #f0f0f0;
}

.skuSelectorItem--m3-custom-sku-selector--selected .frameAround--m3-custom-sku-selector {
  border: 2px solid #7d7d7d;
  border-radius: 5px;
}

.skuSelectorInternalBox--m3-custom-sku-selector {
  border: none;
}

.skuSelectorSubcontainer {
  margin-top: 5px;
  margin-bottom: 8px;
}

.skuSelectorContainer--m3-custom-sku-selector {
  margin-bottom: 32px;
}

.subscriberContainer {
  max-width: 350px;
  margin: 20px 0;
  position: relative;
}
.subscriberContainer .title {
  font-size: 0;
  line-height: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #414149;
  margin-bottom: 12px;
}
.subscriberContainer .title::before {
  content: "Produto indisponível";
  font-size: 14px;
  line-height: 16px;
}
.subscriberContainer .subscribeLabel {
  display: none;
}
.subscriberContainer .content {
  display: block;
}
.subscriberContainer .input {
  width: 100%;
  margin: 0 0 8px;
}
.subscriberContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #787c8a;
  border-radius: 4px;
  height: auto;
}
.subscriberContainer :global(.vtex-styleguide-9-x-input) {
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  color: #787c8a;
  padding: 16px 20px;
}
.subscriberContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .subscriberContainer :global(.vtex-styleguide-9-x-input) {
      font-size: 16px;
    }
  }
}
.subscriberContainer :global(.vtex-button) {
  background: #26247b;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.subscriberContainer :global(.vtex-button):hover {
  background: rgb(25.8113207547, 24.4528301887, 83.5471698113);
}
.subscriberContainer :global(.vtex-button__label) {
  font-weight: bold;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 16px !important;
}
.subscriberContainer :global(.vtex-button__label)::after {
  content: "Avise-me quando chegar";
  font-size: 14px;
  line-height: 16px;
}

.shippingContainer {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  margin: 12px 0;
  padding-bottom: 20px;
  position: relative;
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  padding: 0;
}
@media (min-width: 375px) and (max-width: 475px) {
  .shippingContainer :global(.vtex-address-form__postalCode) {
    min-width: 66%;
  }
}
@media (min-width: 300px) and (max-width: 375px) {
  .shippingContainer :global(.vtex-address-form__postalCode) {
    min-width: 62%;
  }
}
@media (max-width: 300px) {
  .shippingContainer :global(.vtex-address-form__postalCode) {
    min-width: initial;
  }
}
.shippingContainer :global(.vtex-input__label) {
  font-size: 0;
  line-height: 0;
  margin-bottom: 16px;
}
.shippingContainer :global(.vtex-input__label)::after {
  content: "Calcular Frete";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #565656;
}
.shippingContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #e0e0e0;
  border-radius: 0;
  box-sizing: border-box;
  height: auto;
}
@media screen and (max-width: 300px) {
  .shippingContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
    display: none;
  }
}
.shippingContainer :global(.vtex-address-form-4-x-input) {
  border-radius: 0;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  padding: 16px;
}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  font-size: 10px;
  line-height: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 8px;
  padding: 0;
  position: absolute;
  right: 0;
}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) :first-child {
  color: #828282;
}
.shippingContainer :global(.vtex__icon-external-link) {
  display: none;
}
.shippingContainer :global(.vtex-button) {
  background: #d97d55;
  border-radius: 0;
  border: 0;
  min-height: 0;
  max-width: 120px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.shippingContainer :global(.vtex-button) :hover {
  background: rgb(205.1442307692, 94.125, 45.8557692308);
}
.shippingContainer :global(.vtex-button__label) {
  font-weight: 900;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 20px !important;
}
.shippingContainer :global(.vtex-button__label)::after {
  content: "Calcular";
  font-size: 14px;
  line-height: 16px;
}
.shippingContainer :global(.vtex-input__error) {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .productNameContainer {
    text-align: center;
  }
  .shippingContainer {
    margin: 16px auto;
  }
  .shippingContainer :global(.vtex-input) {
    display: block;
    padding-top: 32px;
  }
  .shippingContainer :global(.vtex-input__label) {
    text-align: center;
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 475px) {
  .shippingContainer {
    width: initial;
  }
}
/* PÁGINA DE PRODUTOS(DETAILS) */
.productDescriptionTitle {
  display: none;
}

.productDescriptionText {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #828282;
}

.skuSelectorNameContainer,
.skuSelectorOptionsList {
  margin: 0;
}

.skuSelectorOptionsList {
  display: flex;
}

.skuSelectorItem {
  width: auto;
  height: auto;
  margin: 0 8px 0 0;
  border-radius: 4px;
}

.skuSelectorItemTextValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #7d7d7d;
}

.skuSelectorItemImageValue {
  display: block;
  width: 38px;
  height: 38px;
  object-fit: cover;
  object-position: top;
}

.swiperPaginationClickable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.skuSelectorSubcontainer .frameAround {
  border-radius: 5px;
  border-color: #e3e4e6;
}

.skuSelectorSubcontainer .skuSelectorInternalBox {
  border-radius: 5px;
}

.diagonalCross {
  border-radius: 5px;
  border-color: #e3e4e6;
}

.skuSelectorItem--selected .frameAround {
  border: 2px solid #7d7d7d;
}

.productImagesThumbCaret :global(.vtex-store-components-3-x-caretIcon) {
  opacity: 1;
}

:global(.vtex-toast) {
  min-height: 62px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  :global(.vtex-toast) :global(.vtex-button__label) {
    font-size: 13px;
  }
  .subscriberContainer {
    text-align: center;
    margin: 60px auto 30px;
  }
}
/* M3 NEWSLETTER */
/* ------------------------------------------------------------------------  */
.container--m3-newsletter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.form--m3-newsletter {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
@media only screen and (max-width: 575px) {
  .form--m3-newsletter {
    padding: 0;
  }
}

.inputGroup--m3-newsletter {
  padding: 0;
}
.inputGroup--m3-newsletter :global(.vtex-input) {
  max-width: 370px;
  position: relative;
}
.inputGroup--m3-newsletter :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
  max-width: 370px;
  height: auto;
}
.inputGroup--m3-newsletter :global(.vtex-styleguide-9-x-input) {
  border-radius: 0;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  color: #828282;
  padding: 20px;
}
.inputGroup--m3-newsletter :global(.vtex-styleguide-9-x-input)::placeholder {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.inputGroup--m3-newsletter :global(.vtex-input__error) {
  color: #fff;
  position: absolute;
}

.buttonContainer--m3-newsletter {
  width: 100%;
  max-width: 370px;
  padding-left: 8px;
}
.buttonContainer--m3-newsletter :global(.vtex-button) {
  background-color: #5baa63;
  border: none;
  border-radius: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
  transition: all 0.3s ease-in;
  width: 100%;
}
.buttonContainer--m3-newsletter :global(.vtex-button):hover {
  background: rgb(71.686746988, 138.313253012, 78.4337349398);
}
.buttonContainer--m3-newsletter :global(.vtex-button__label) {
  padding: 16px !important;
}

.confirmationTitle--m3-newsletter {
  color: #fff;
  margin-right: 8px;
  padding: 0;
}

.confirmationText--m3-newsletter {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1300px) and (min-width: 641px) {
  .buttonContainer--m3-newsletter {
    max-width: 250px;
  }
  .inputGroup--m3-newsletter :global(.vtex-input__error) {
    margin-top: 4px;
  }
}
@media only screen and (max-width: 1025px) {
  .container--m3-newsletter {
    justify-content: center;
    padding: 0;
  }
  .inputGroup--m3-newsletter {
    justify-content: center;
  }
}
@media only screen and (max-width: 640px) {
  .container--m3-newsletter {
    flex-direction: column;
  }
  .inputGroup--m3-newsletter {
    flex-direction: column;
    align-items: center;
  }
  .inputGroup--m3-newsletter :global(.vtex-input-prefix__group) {
    margin: 0 auto;
  }
  .inputGroup--m3-newsletter :global(.vtex-input) {
    display: inline-block;
    margin: 0 auto;
  }
  .inputGroup--m3-newsletter :global(.vtex-input__error) {
    font-size: 12px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    bottom: -90px;
  }
  .buttonContainer--m3-newsletter {
    padding: 16px 0 0;
    margin: 0 auto;
  }
  .confirmationTitle--m3-newsletter {
    margin: 0 0 8px;
  }
}
/* M3 FOOTER  */
/* ------------------------------------------------------------------------  */
.logoLink--footer-links {
  padding-top: 20px;
}

.imageElementLink--social-footer {
  line-height: 0;
  filter: invert(0.75);
  margin-right: 12px;
}

.imageElement--payment-badges {
  max-width: 32px;
  margin: 0 6px;
}

.imageElement--vtex-pci {
  padding: 0 8px;
}

.imageElement--footer-vtex-logo {
  margin-right: 16px;
}

.backToTopButtonContainer {
  bottom: 16px;
  right: 20px;
}
.backToTopButtonContainer :global(.vtex-button) {
  background-color: #26247b;
  border: none;
  border-radius: 50%;
}
.backToTopButtonContainer :global(.vtex-button__label) {
  padding: 12px !important;
  margin-bottom: -4px;
}

@media only screen and (max-width: 1025px) {
  .logoLink--footer-links {
    padding: 0 0 32px;
  }
  .backToTopButtonContainer {
    bottom: 100px;
  }
}
@media only screen and (max-width: 820px) {
  .imageElement--payment-badges {
    max-width: 26px;
  }
  .imageElement--vtex-pci {
    max-width: 36px !important;
  }
}
@media only screen and (max-width: 320px) {
  .backToTopButtonContainer {
    bottom: 78px;
    right: 12px;
  }
}
.logoLink {
  display: block;
  flex-grow: 1;
}

.logoContainer {
  padding: 0;
}
@media only screen and (max-width: 575px) {
  .logoContainer {
    display: block;
    margin: auto;
  }
}

.searchBarContainer {
  padding: 0;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
  height: auto;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  border-radius: 0;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  color: #4f4f4f;
  padding: 16px;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  text-transform: uppercase;
  color: #bdbdbd;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .searchBarContainer :global(.vtex-styleguide-9-x-input) {
      font-size: 16px;
    }
  }
}
.searchBarContainer :global(.vtex-input__suffix) {
  border-radius: 0;
  padding: 8px 16px;
}

.searchBarIcon {
  color: #de7903;
  width: 32px;
  height: 32px;
  padding: 0;
}
.searchBarIcon :global(.vtex-store-components-3-x-closeIcon) {
  width: 30px;
  height: 30px;
}

.searchIcon {
  width: 32px;
  height: 32px;
}

.imageElement--open-search-mobile,
.imageElement--close-search-mobile {
  background-color: #26247b;
  padding: 0 8px;
  position: absolute;
  left: 0;
}

.imageElement--close-search-mobile {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 575px) {
  .logoImage {
    image-rendering: -webkit-optimize-contrast;
  }
}
@media screen and (max-width: 420px) {
  .logoImage {
    max-width: 116px;
    position: relative;
    bottom: 5px;
  }
}
@media screen and (max-width: 320px) {
  .logoImage {
    max-width: 100px;
    margin: 0 -4px;
  }
}
@media only screen and (max-width: 1024px) {
  :global(.vtex-search-2-x-biggy-autocomplete) {
    right: 0;
    top: -16px;
  }
}
@media only screen and (max-width: 575px) {
  :global(.vtex-search-2-x-biggy-autocomplete) {
    width: 92vw;
    max-width: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
    right: 0;
  }
}
@media only screen and (min-width: 1025px) {
  :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
    max-width: 400px;
  }
}
@media only screen and (min-width: 576px) {
  :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
    width: 500px;
  }
}
@media screen and (max-width: 300px) {
  :global(.vtex-search-2-x-biggy-autocomplete-wrapper) {
    width: 100vw;
  }
}

.portalContaier {
  top: 25px !important;
}

.portalContainer--mobile {
  top: 17px !important;
}
@media screen and (min-width: 300px) {
  .portalContainer--mobile {
    right: 100%;
  }
}
@media screen and (max-width: 300px) {
  .portalContainer--mobile {
    left: 9px !important;
    display: flex !important;
    flex-direction: column !important;
  }
}

.imageElement--confirmationImage {
  display: block;
  margin: 0 auto;
}

.autoCompleteOuterContainer--research {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
}

.discountInsideContainer {
  background-color: #26247b;
}

.swiperCaretPrev {
  display: block;
  background: url(assets/svgs/slide-left-arrow.svg) no-repeat center center !important;
  background-size: contain;
}

.swiperCaretNext {
  display: block;
  background: url(assets/svgs/slide-right-arrow.svg) no-repeat center center !important;
  background-size: contain;
}

.swiperCaretNext,
.swiperCaretPrev {
  padding: 0;
}

.caretIcon {
  opacity: 0;
}

.swiper-pagination {
  align-items: center;
}

.swiperBullet {
  background: #ffffff;
  height: 8px !important;
  width: 8px !important;
  opacity: 1;
}

.swiperBullet--active {
  background: transparent;
  border: 1px solid #ffffff;
  height: 13px !important;
  width: 13px !important;
}