/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
/* Colors */
/* Grid breakpoints */
.product-identifier {
  display: block;
  margin-bottom: 20px;
}

.product-identifier__label,
.product-identifier__value {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #898989;
}

.product-identifier__separator {
  display: none;
}

@media only screen and (max-width: 768px) {
  .product-identifier {
    text-align: center;
    margin-bottom: 12px;
  }
}