/* INSTITUCIONAL  */
.paragraph--breadcrumb-institucional-item {
    color: $color-gray2;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
}

.headingLevel1--institucional {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #666666;
    margin: 0 0 16px;
}

.listItem--institucional::marker {
    font-weight: bold;
}

.list--institucional {
    padding-left: 40px;
}

.paragraph--institucional,
.paragraph--institucional-atencao,
.listOrdered--institucional,
.list--institucional  {
    color: $color-gray2;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 16px;
    text-align: justify;
}
.wrapper--institucional,
.wrapper--institucional-atencao {
    max-width: 100%;
}
.image--institucional {
    margin: 0 auto;
    display: block;
}
.link--institucional {
    color: #292929;
}

.link--institucional:hover {
    font-weight: bold;
}
.strong--institucional-atencao {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.headingLevel4--institucional {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    margin-bottom: 0;
}

.headingLevel3--institucional {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 16px;
    color: #292929;
}

.paragraph--fc-form-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #666666;
}

/**Institucional*/
.wrapper--institucional-titulo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #292929;
    text-transform: uppercase;
}
.container--breadcrumb-institucional-item {
    display: flex;
    align-items: center;

    margin-left: 8px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color-gray4;
    text-transform: uppercase;

    position: relative;
    top: 1px;
}
.container--breadcrumb-institucional-item::before {
    content: "";
    background: url(assets/svgs/minor-arrow.svg);
    display: block;
    color: $color-gray4;
    margin-right: 8px;
    height: 8px;
    width: 8px;
}
.headingLevel2--institucional {
    color: $color-gray2;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 24px 0;

    @media screen and (max-width: 1024px) {
        text-align: center;
    }
}

.headingLevel2--institucional-perguntas {
    margin-bottom: 0;

    @include mq(md, max) {
        margin-bottom: 45px;
    }
}

.paragraph--institucional-pergunta {
    font-size: 13px;
    margin-bottom: 0;

    @include mq(md, min) {
      margin-top: 26px;
    }
    @include mq(md, max) {
        font-size: 14px;
    }
}

.strong--institucional-pergunta {
    font-size: 13px;
    @include mq(md, max) {
        display: block;
    }
}

.headingLevel3--tel-text {
    font-size: 20px;
    margin-bottom: 40px;
}

.headingLevel4--tel-text {
    font-size: 14px;
}

.paragraph--tel-text {
    font-size: 14px;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
}

.image--tel-text {
    margin-right: 5px;
}
