.quantitySelectorContainer--product {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}

.quantitySelectorTitle--product {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #727272;
    margin-right: 20px;
    margin-bottom: 0;
}

.quantitySelectorStepper {
    :global(.vtex-numeric-stepper-container) {
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 8px;
    }

    :global(.vtex-numeric-stepper__input) {
        border: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #777;
        width: 36px;
        height: 36px;
        outline: none;
    }

    :global(.vtex-numeric-stepper__plus-button),
    :global(.vtex-numeric-stepper__minus-button) {
        background-color: transparent;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        color: $primary-color;
        width: auto !important;
        height: 36px;
        padding: 0 12px;
        outline: none;

        &:disabled {
            opacity: 0.5;
        }
    }

    :global(.vtex-numeric-stepper__minus-button__text) {
        content: url(assets/svgs/qtd-minus.svg);
    }

    :global(.vtex-numeric-stepper__plus-button__text) {
        content: url(assets/svgs/qtd-plus.svg);
    }
}

@media only screen and (max-width: 768px) {
    .quantitySelectorContainer--product {
        flex-direction: column;
        align-items: center;
    }

    .quantitySelectorTitle--product {
        margin: 0 0 8px;
    }
}
