.productHighlightWrapper--m3-collection-badge {
  background: #292929;
  padding: 2px 8px 4px;
  margin-bottom: 4px;
}

.productHighlightText--m3-collection-badge {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
}
